body {
    background-image: url("../img/Fondo.jpg");
    background-size: 125%;
}

p.Pag {
    font-family: "Facebluff";
    font-size: 180%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}

p.points {
    display: inline;
    vertical-align: top;
    justify-content: center;
    font-size: 100%;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
}

@font-face {
    font-family: "Facebluff";
    src: url("../fonts/GloriaHallelujah.ttf");
}

div.menu {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

div.optMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    font-family: "Facebluff";
    font-size: 160%;
    color: white;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    width: 15%;
    height: 30%;
}

div.imgMenu {
    justify-content: center;
}

div.formulario {
    display: block;
    width: 50%;
    padding: 25px;
    background-color: #6f0792;
    border-radius: 10px;
    margin: auto;
}

div.formOpt {
    font-family: Calibri;
    font-size: 120%;
    color: white;
    justify-content: center;
    width: 30%;
}

input.searchOpt {
    width: 40%;
}

div.formTxt {
    width: 70%;
}

div.celdFormulario {
    display: flex;
    flex-direction: row;
    margin: 1%;
    padding: 1%;
}

div.celdFormularioBtn {
    display: flex;
    flex-direction: row;
    justify-content: centeR;
    margin: 1%;
    padding: 1%;
}

div.celdSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

div.celdInsSearch {
    display: flex;
    padding-left: 5%;
    width: 100%;
}

div.radio {
    color: white;
    font-family: Calibri;
    font-size: 110%;
}

input.formBtn {
    background-color: #bd4ae4;
    color: white;
    font-family: "Facebluff";
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto;
    border: none;
    border-radius: 13px;
    width: auto;
    height: 10%;
}

input.amigosBtn {
    background-color: #bd4ae4;
    color: white;
    font-family: "Facebluff";
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;
    border: none;
    border-radius: 13px;
    width: auto;
    height: 10%;
}

label.nombreSol {
    margin-right: 30%;
    margin-left: 5px;
    color: black;
    font-family: "Facebluff";
}

input.formTxt {
    width: 100%;
}

a.menuLinks {
    color: white;
    font-style: normal;
    text-decoration: none;
}

p.encPag {
    font-family: "Facebluff";
    font-size: 180%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    font-weight: bold;
}

p.errPag {
    font-family: "Facebluff";
    font-size: 120%;
    color: red;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

img.imagenPerfil {
    float: left;
    margin-left: 20%;
    border: 1px solid rgb(48, 46, 46);
    border-radius: 4px;
    padding: 5px;
    width: 160px;
    height: 160px;
    vertical-align: text-top;
}

img.imgPerfilSmall {
    width: 60px;
    height: 60px;
}

img.imgAmigos {
    width: 60px;
    height: 60px;
    border: 1px solid rgb(48, 46, 46);
    border-radius: 4px;
    vertical-align: middle;
}

div.profileDif {
    font-family: "Facebluff";
    margin: 10px;
}

div.solAmistad {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-around;
    text-align: center;
    font-family: Calibri;
    font-size: 100%;
}

div.busqueda {
    display: block;
    align-content: center;
    text-align: center;
    font-family: Calibri;
    font-size: 120%;
}

div.misAmigos {
    display: block;
    margin-left: 19%;
    font-family: Calibri;
    font-size: 120%;
}

div.profile {
    font-family: Calibri;
}

div.perfil {
    float: center;
    padding: 2%;
}

div.preg {
    margin-top: 1%;
    background: #ecd7b8;
    margin-left: 25%;
    margin-right: 25%;
}

a.pregLinks {
    font-family: Calibri;
    font-size: 130%;
    font-weight: bold;
    color: #6f0792;
    text-decoration: none;
}