body {
    background-image: url("../img/Fondo.jpg");
    background-size: 125%;
}

p.encPag {
    font-family: "Facebluff";
    font-size: 180%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

@font-face {
    font-family: "Facebluff";
    src: url("../fonts/GloriaHallelujah.ttf");
}

div.menu {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

div.optMenu {
    font-family: "Facebluff";
    font-size: 160%;
    color: white;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    width: 15%;
}

div.formulario {
    display: block;
    width: 50%;
    padding: 25px;
    background-color: #6f0792;
    border-radius: 10px;
    margin: auto;
}

div.formOpt {
    font-family: Calibri;
    color: white;
    justify-content: center;
    width: 30%;
}

div.formTxt {
    width: 70%;
}

div.celdFormulario {
    display: flex;
    flex-direction: row;
    
    margin: 1%;
    padding: 1%;
    
}

div.celdFormularioBtn {
    display: flex;
    flex-direction: row;
    justify-content: centeR;
    margin: 1%;
    padding: 1%;
}

input.formBtn {
    background-color: #bd4ae4;
    color: white;
    font-family: "Facebluff";
    font-size: 25px;
    font-weight: bold;

    margin: 20px auto;
    border: none;
    border-radius: 20px;
    
    width: 30%;
    height: 10%;
}

input.formTxt {
    width: 100%;
}

a.menuLinks {
    color: white;
    font-style: normal;
}