<!DOCTYPE html>
<html lang="es">

<head>
    <title>Juego del mentiroso</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />

    
</head>

<body>
    
    <div class="cabecera">
        <h1>Juego del mentiroso</h1>
    </div>
   
    <div class=bienvenido>
        <div>
            <h2>¡Bienvenido!</h2>
        </div>
        <div>
            <img class=cartas src="../public/images/ImagenPortada.jpg">
            
        </div>
        
        
    </div>   
    <div class=formulario>
        
            <form action="" method="POST">
                <div class=celdFormulario>
                    <p class=ident>Identificarse</p>       
                </div>
                <div class=celdFormulario>
                    <div class=formOpt>Nombre de usuario:</div>
                    <div class=formTxt><input class=formTxt type="text" name="nombre" value="Introduce nombre"></div>
                </div>
                <div class=celdFormulario>
                    <div class=formOpt>Contraseña:</div>
                    <div class=formTxt><input class=formTxt type="text" name="pass" value="Introduce contraseña"></div>
                </div>
                <div class=formBtn>
                    <input class=formBtnAcpt type="submit" value="Aceptar">
                </div>
                <div class=formBtn>
                    <input class=formBtnNewUser type="submit" value="Nuevo Usuario">
                </div>
            </form>
        </div>
    
</body>

</html>