<!DOCTYPE html>
<html>
  <head>
    <title>Juego del Mentiroso</title>
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/login.js"></script>
    <script src="js/partid.js"></script>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 title"><h3>Juego del mentiroso</h3></div>
        <div id="perfil" style="visibility: hidden"class="col-md-1 title"><p>Manuel</p></div>
        <div id="perfil" style="visibility: hidden" class= "col-md-1 title"><button type="submit" class="btn btn-danger">Desconectar</button></div>
      </div>
      <div class="row welcome">
        <div class="col-md-4 col-md-offset-1"><p class="text-center welcomeTxt">¡Bienvenido!</p></div>
        <div class= "col-md-6 col-md-offset-1"><img class="img-responsive welcomeImg" src="images/ImagenPortada.jpg"></div>
      </div>
      <div class="container formContainer">
      <form class="form" role="form" action="newUserForm" method="POST">
        <div class="form-group formRows">
            <label class="col-md-3 control-labelId">Identificarse</label>
        </div>
        <div class="form-group formRows">
          <label for="userName" class="col-md-3 control-label">Nombre de usuario:</label>
          <div class="col-md-12">
            <input class="form-control" id="usernameInput" name="userName" placeholder="Introduce nombre" type="text"/>
          </div>
        </div>
        <div class="form-group formRows">
          <label for="password" class="col-md-3 control-label">Contraseña:</label>
          <div class="col-md-12">
            <input class="form-control" id="passwordInput" name="password" placeholder="Introduce contraseña" type="password"/>
          </div>
        </div>
        <div class="form-group formRows">
          <div class="col-md-1">
            <button type="button" id="loginBtn" class="btn btn-primary">Aceptar</button>  
          </div>
          <div class="col-md-1">
            <button type="button" id="newUserBtn" class="btn btn-default">Nuevo usuario</button>
          </div>
        </div>
      </form>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-danger text-center errorTxt" id="errorTxt"></p>
        </div>
      </div>
    </div>

    <div id="perfil" style="visibility: hidden" class="container-fluid">
      <div class="row">
        <div class="col-md-10 title"><h3>Juego del mentiroso</h3></div>
        <div class="col-md-1 title"><p>Manuel</p></div>
        <div class="col-md-1 title"><button type="submit" class="btn btn-danger">Desconectar</button></div>
        
      </div>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#misPartidas">Mis partidas</a></li>
        <li><a data-toggle="tab" href="#amiguetes">Partida amiguetes</a></li>
        <li><a data-toggle="tab" href="#familiar">Familiar</a></li>
            
      </ul>
      <div class="tab-content">
        <div id="misPartidas" class="tab-pane fade in active">
                <div class="container formPerfil">
                        <form class="form" role="form" action="newPartida" method="POST">
                          <div class="form-group formRows">
                              <label class="col-md-4 control-labelPerfil">Crear una nueva partida</label>
                          </div>
                          <div class="form-group formRows">
                              <div class="col-md-11">
                                  <input class="form-control" id="nombrePartidaInput" placeholder="Introduce aqui el nombre" type="text"/>
                              </div>
                              <div class="col-md-1">
                                  <button type="submit" class="btn btn-primary" id="newPartidaBtn">Crear</button>  
                              </div>
                          </div>
                        </form>
                        </div>
                        <div class="container formPerfil">
                              <form class="form" role="form" action="unirsePartForm" method="POST">
                                  <div class="form-group formRows">
                                     <label class="col-md-4 control-labelPerfil">Unirse a una partida existente</label>
                                  </div>
                                  <div class="form-group formRows">
                                      <div class="col-md-11">
                                          <input class="form-control" name="nuevaPartida" placeholder="Introduce aqui el identificador de la partida" type="text"/>
                                      </div> 
                                      <div class="col-md-1">  
                                          <button type="submit" class="btn btn-primary">Unirse</button>  
                                      </div>
                                  </div>
                              </form>
                        </div>
        </div>
        <div id="amiguetes" class="tab-pane fade">
                <p>pene</p>
        </div>
        <div id="familiar" class="tab-pane fade">
                
        </div>
      </div>
      
  </body>
</html>
