<!DOCTYPE html>
<html lang="es">

<head>
    <title>Juego del mentiroso</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />

    
</head>

<body>
    
    <div class="cabecera">

        <h1>Juego del mentiroso</h1>
        <div class=cab>
            <p class=user>Manuel</p>
            <input class=btnDesconectar type="submit" value="Desconectar"> 
        </div>
           
    </div>
   
   <div class="tab">
        <button class="tablinks" onclick="open(event,'MisPartidas')">Mis Partidas</button>
        <button class="tablinks" onclick="open(event,'PartidaAmiguetes')">Partida Amiguetes</button>
        <button class="tablinks" onclick="open(event,'Familiar')">Familiar</button>
    </div>
    <div id="MisPartidas" class="tabcontent">
    </div>
    <div>
            <div class=formularioPerfil>
                    <form action="" method="POST">
                            <div class=celdFormulario>
                                <div>
                                    <p class=ident>Crear una nueva partida</p>   
                                </div>
                                <div class=formPerfil>
                                    <input class=formTxtPerfil type="text" name="crearPartida" value="Introduce aqui el nombre"></div> 
                                    <input class=formBtnPerfilCrear type="submit" value="Crear">
                                </div>  
                                
                            </div>
                            
                        </form>
                    </div>
        
            </div>
    </div>
    <div>
            <div class=formularioPerfil>
                    <form action="" method="POST">
                            <div class=celdFormulario>
                                <div>
                                    <p class=ident>Unirse a una partida existente</p>   
                                </div>
                                <div class=formPerfil>
                                    <input class=formTxtPerfil type="text" name="crearPartida" value="Introduce aqui el identificador de la partida"></div> 
                                    <input class=formBtnPerfilCrear type="submit" value="Unirse">
                                </div>  
                                
                            </div>
                            
                        </form>
                    </div>
        
            </div>
    </div>
    
    
        
    
    
</body>

</html>