<!DOCTYPE html>
<html>
  <head>
    <title>Juego del Mentiroso</title>
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 title"><h3>Juego del mentiroso</h3></div>
        <div class="col-md-1 title"><p>Manuel</p></div>
        <div class="col-md-1 title"><button type="submit" class="btn btn-primary">Aceptar</button></div>
        
      </div>
      
      <div class="container formContainer">
      <form class="form" role="form" action="newUserForm" method="POST">
        <div class="form-group formRows">
            <label class="col-md-3 control-labelId">Identificarse</label>
        </div>
        <div class="form-group formRows">
          <label for="userName" class="col-md-3 control-label">Nombre de usuario:</label>
          <div class="col-md-12">
            <input class="form-control" name="userName" placeholder="Introduce nombre" type="text"/>
          </div>
        </div>
        <div class="form-group formRows">
          <label for="password" class="col-md-3 control-label">Contraseña:</label>
          <div class="col-md-12">
            <input class="form-control" name="password" placeholder="Introduce contraseña" type="password"/>
          </div>
        </div>
        <div class="form-group formRows">
          <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Aceptar</button>  
          </div>
          <div class="col-md-1">
            <button type="submit" class="btn btn-default">Nuevo usuario</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </body>
</html>
