<!DOCTYPE html>
<html lang="es">

<head>
    <title>Mis amigos - Facebluff</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/facebluff.css" />
</head>

<body>
    <img class=logo src="../img/Logo.png">
    <div class=menu>
        <div class=optMenu>
            <p>Perfil</p>
        </div>
        <div class=optMenu>
            <p>Amigos</p>
        </div>
        <div class=optMenu>
            <p>Preguntas</p>
        </div>
        <div class=optMenu>
            <p>Desconectar</p>
        </div>
        <div class=optMenu>
            <img class=imgPerfilSmall src= <%= user.image %>>
            <p><%= user.puntos %> pts</p>
        </div>
    </div>
    <p class=encPag>Solicitudes de amistad</p>
    
    <div class=solAmistad>
        <div class=amigos>
            <% users.forEach(user => { %>
                <img class=imgAmigos src= <%= user.image %>> 
                <label class="nombreSol"><%= user.name %></label>
                <input class=amigosBtn type="button" value="Aceptar"> 
                <input class=amigosBtn type="button" value="Rechazar"> 
         
            }
           <% }); %>
         </div>
        
    </div> 
    <p class=encPag>Busqueda de amigos</p>
    <div class=busqueda>
        <label>Buscar por nombre:</label>
        <input class=searchOpt type="text" name="search">
        <input class=amigosBtn type="button" value="Buscar">
    </div>
    <p class=encPag>Mis amigos</p>
    <div class=misAmigos>
        <div class=friend>
            <img class=imgAmigos src="Extraterrestrial-01.png">
            <label class="nombreAmigo">Pepe Botella</label>
        </div>
        <div class=friend>
            <img class=imgAmigos src="Extraterrestrial-01.png">
            <label class="nombreAmigo">Mariano Rajoy</label>
        </div>
        
    </div>
</body>


</html>