<!DOCTYPE html>
<html lang="es">

<head>
    <title>Mis amigos - Facebluff</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/facebluff.css" />
</head>

<body>
    <img class=logo src="../img/Logo.png">
    <%- include("menuLogged") -%>
    <p class=encPag>Solicitudes de amistad</p>
    <p class=encPag>Busqueda de amigos</p>
    <div class=busqueda>
        <form action="search" method="GET">
            <label>Buscar por nombre:</label>
            <input class=searchOpt type="text" name="name">
            <input class=amigosBtn type="submit" value="Buscar">
        </form>
    </div>
    <p class=encPag>Mis amigos</p>
    <div class=misAmigos>
        <div class=friend>
            <img class=imgAmigos src="../public/icons/Extraterrestrial-01.png">
            <label class="nombreAmigo">Pepe Botella</label>
        </div>
        <div class=friend>
            <img class=imgAmigos src="../public/icons/Extraterrestrial-01.png">
            <label class="nombreAmigo">Mariano Rajoy</label>
        </div>
        
    </div>
</body>


</html>