<!DOCTYPE html>
<html lang="es">

<head>
    <title>Mis amigos - Facebluff</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/facebluff.css" />
</head>

<body>
    <img class=logo src="../img/Logo.png">
    <%- include("menuLogged") -%>
    <p class=encPag>Solicitudes de amistad</p>
    <p class=encPag>Busqueda de amigos</p>
    <div class=busqueda>
        <form action="search" method="GET">
            <label>Buscar por nombre:</label>
            <input class=searchOpt type="text" name="name">
            <input class=amigosBtn type="submit" value="Buscar">
        </form>
    </div>
    <p class=encPag>Mis amigos</p>
    <div class=misAmigos>
        <!-- Amigos que ya han aceptado solicitud -->
        <ul>
            <% amigos.forEach(amigo =>{ %>
            <li id="amigos">
                <img class="usuario" src="/images/<%= amigo.id %>">
                <p class="friend_name"><%= amigo.name %></p>
                <form action="profile" method="POST">
                    <input type="hidden" name="user">
                    <input class=amigosBtn type="submit" value="Perfil">
                </form>
            </li>
            <% }); %>
        </ul>
    </div>
</body>


</html>