<!DOCTYPE html>
<html lang="es">

<head>
    <title>Mis amigos - Facebluff</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/facebluff.css" />
</head>

<body>
    <img class=logo src="../img/Logo.png">
    <%- include("menuLogged") -%>
    <p class=encPag>Solicitudes de amistad</p>
    <p class=encPag>Busqueda de amigos</p>
    <div class=busqueda>
        <form action="search" method="GET">
            <label>Buscar por nombre:</label>
            <input class=searchOpt type="text" name="name">
            <input class=amigosBtn type="submit" value="Buscar">
        </form>
    </div>
    <p class=encPag>Mis amigos</p>
    <div class=misAmigos>
        <!-- Amigos que ya han aceptado solicitud -->
        <ul>
            <% amigos.forEach(f =>{ %>
            <li id="amigos">
                <a class="enlace" href="amigo_profile.html">
                    <img class="usuario" src="/user/imagen/<%= f.id %>">
                </a>
                <p class="friend_name"><%= f.name %></p>
            </li>
            <% }); %>
        </ul>
    </div>
</body>


</html>