<div class=menu>
    <div class=optMenu>
        <a href="login.html" class="menuLinks">Entrar</a>
    </div>
    <div class=optMenu>
        <a href="new_user.html" class="menuLinks">Nuevo usuario</a>
    </div>
</div>