<div class=menu>
    <div class=optMenu>
        <a href="/users/perfil.html" class="menuLinks">Perfil</a>
    </div>
    <div class=optMenu>
        <a href="/users/amigos.html" class="menuLinks">Amigos</a>
    </div>
    <div class=optMenu>
        <a href="/questions/preguntas.html" class="menuLinks">Preguntas</a>
    </div>
    <div class=optMenu>
        <a href="/users/desconectar.html" class="menuLinks">Desconectar</a>
    </div>
    <div class=optMenu>
        <div class=imgMenu><img class=imgPerfilSmall src="/images/<%= image %>"></div>
        <div class=imgMenu><p class=points><%= puntos %> pts</p></div>
    </div>
</div>