<div class=menu>
    <div class=optMenu>
        <a href="perfil.html" class="menuLinks">Perfil</a>
    </div>
    <div class=optMenu>
        <a href="amigos.html" class="menuLinks">Amigos</a>
    </div>
    <div class=optMenu>
        <a href="preguntas.html" class="menuLinks">Preguntas</a>
    </div>
    <div class=optMenu>
        <a href="desconectar.html" class="menuLinks">Desconectar</a>
    </div>
    <div class=optMenu>
        <div class=imgMenu><img class=imgPerfilSmall src=<%= image %>></div>
        <div class=imgMenu><p class=points><%= puntos %> pts</p></div>
    </div>
</div>