<!DOCTYPE html>
<html lang="es">

<head>
    <title>Busqueda - Facebluff</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/facebluff.css" />
</head>

<body>
    <img class=logo src="../img/Logo.png">
    <%- include("menuLogged") -%>
    <p class=encPag>Resultados de búsqueda: '<!--aqui falta poner la palabra que se ha buscado--> '</p>
    
    <div class=solAmistad>
            <!--ESTO DEBERIA SER UN FOR PARA CADA PETICIÓN DE AMISTAD NO PARA CADA USUARIO PERO DE MOMENTO SE QUEDA ASI -->
            <% users.forEach((user) => { %>
                <form action="addFriend" method="POST">
                    <div class=celdSearch>
                        <div class=celdInsSearch><img class=imgAmigos src=<%= user.image %>></div>
                        <div class=celdInsSearch><label class=nombreSol><%= user.user %></label></div>
                        <input type="hidden" value="<%= user.email %>">
                        <div class=celdInsSearch><input class=amigosBtn type="submit" value="Solicitar Amistad"></div> 
                    </div>
                </form>
           <% }); %>
            
            
    </div>
</body>


</html>