<!DOCTYPE html>
<html lang="es">

<head>
    <title>Busqueda - Facebluff</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/facebluff.css" />
</head>

<body>
    <img class=logo src="../img/Logo.png">
    <%- include("menuLogged") -%>
    <p class=encPag>Resultados de búsqueda: '<!--aqui falta poner la palabra que se ha buscado--> '</p>
    
    <div class=solAmistad>
            <!--ESTO DEBERIA SER UN FOR PARA CADA PETICIÓN DE AMISTAD NO PARA CADA USUARIO PERO DE MOMENTO SE QUEDA ASI -->
            <% users.forEach(user => { %>
                <img class=imgAmigos src=<%= user.image %>> 
                <label class="nombreSol"><%= user.name %></label>
                <input class=amigosBtn type="button" value="Solicitar Amistad"> 
            }
           <% }); %>
            
            
    </div>
</body>


</html>