<!DOCTYPE html>
<html lang="es">

<head>
    <title>Modificar perfil - Facebluff</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/facebluff.css" />
</head>

<body>
    <img class=logo src="../img/Logo.png">
    <%- include("menuLogged") -%>
    <p class="encPag">Subir fotos</p>
    <div class="formulario">
        <form class="formFotos" method="POST" action="subirFotos" enctype="multipart/form-data">
            <div class="line">
                <div class="celdFormulario">
                    <div class="formOpt"><label>Imagen: </label></div>
                    <div><input id ="image" name="image" type="file"/></div>
                </div>
                <div class="celdFormulario">
                    <div class="formOpt"><label>Descripcion: </label></div>
                    <div class="formTxt"><input class="formTxt" id="texto" name="texto" type ="text"></div>
                </div>
            </div>
            <div class=celdFormularioBtn>
                <input class="formBtn" type="submit" value="Aceptar" id="conectar">
            </div>
        </form>
    </div>
    <%- include("error") -%>
</body>
</html>

