div.title {
    color: white;
    padding-bottom: 1%;
}

h3.titleTxt {
    padding-left: 5%;
}

body {
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.welcome {
    background-color: #e6e6e6;
    color: black;
    height: 8%;
}

.welcomeTxt {
    align-items: center;
    justify-content: center;
    font-size: 300%;
    padding-top: 15%;
}

.welcomeImg {
    padding-right: 20%;
}

p.errorTxt {
    padding-top: 4%;
    font-size: 150%;
}

div.formRows {
    padding: 2%;
}

div.formPerfil {
    background-color: #e6e6e6;
    border-radius: 2px;
    padding-bottom: 2%;
    margin-top: 3%;
}

.control-labelPerfil {
    font-size: 160%;
}


div.formContainer {
    background-color: #333333;
    border-radius: 2px;
    padding-bottom: 2%;
    margin-top: 3%;
}

.control-label {
    color: white;
}

.control-labelId {
    color: white;
    font-size: 25px;
}

.btn-default {
    background-color: #333333;
    color: #e6e6e6;
}

.disconnectBtn {
    padding-top: 1%;
}

div.titleDiv {
    background-color: #333333;
    height: auto;
}
div.infoPart{
    justify-content: space-between;
}
div.datosPartida{
    
    
    background-color: #e6e6e6;
    border-radius: 3px;
    
    padding-bottom: 2%;
    padding: 2%;
    margin-top: 3%;
    
}


div.infoJugadores{
    border-radius: 3px;
    padding-bottom: 2%;
    padding: 2%;
    margin-top: 3%;
    background-color: #e6e6e6;
   
    
}