div.title {
    background-color: #333333;
    color: white;
    padding-left: 5%;
    padding-bottom: 1%;
    height: auto;
}


body {
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.welcome {
    background-color: #e6e6e6;
    color: black;
    height: 10%;
}

.welcomeTxt {
    align-items: center;
    justify-content: center;
    font-size: 300%;
    padding-top: 15%;
}

.welcomeImg {
    padding-right: 20%;
}

div.formRows {
    padding: 2%;
    
}

div.formContainer {
    background-color:  #333333;
    border-radius: 2px;
    padding-bottom: 2%;
    margin-top: 3%;
}
.control-label{
    color:white;
}
.control-labelId{
    color: white;
    font-size: 25px;
}
.btn-default{
    background-color: #333333;
    color:#e6e6e6;
}